<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <label for="">( LABEL ) Lorem ipsum dolor sit, amet consectetur adipisicing elit. </label>
    <p>( P ) Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <a href="">LINK</a> <br>
    <h4> ( H4 )Lorem ipsum dolor sit amet</h4>
    
    <input type="text" name="" id="">
  
    <select name="" id="">
        <option value="">Select</option>
    </select>
    <br><br>
    
    
    <input type="checkbox" name="" id="" class="custom-checkbox" checked>
    <input type="checkbox" name="" id="" class="custom-checkbox-red" checked>
    <input type="checkbox" name="" id="" class="custom-checkbox-warning" checked>
    <input type="checkbox" name="" id="" class="custom-checkbox-dark" checked>
    <input type="checkbox" name="" id="" class="custom-checkbox-green" checked>
    <br><br>


    <button class="btn-new">BOTÃO</button>
    <button class="btn-import">BOTÃO</button>
    <button class="btn-export">BOTÃO</button>
    <button class="btn-movimentacoes">BOTÃO</button>
    <button class="btn-filtrar">BOTÃO</button>
    <button class="btn-upload">BOTÃO</button>
    <button class="btn-download">BOTÃO</button>
    <button class="btn-add">BOTÃO</button>
    <button class="btn-dark">BOTÃO</button>
    <br><br>

    <button class="btn-success">Salvar</button>
    <button class="btn-cancel">Cancelar</button>
    <br><br>

    <button class="btn-edit">acoes</button>
    <button class="btn-delete">acoes</button>
    <button class="btn-movements">acoes</button>
    <button class="btn-duplicate">acoes</button>
    <button class="btn-barcode">acoes</button>
    <button class="btn-wa-me">acoes</button>
    <button class="btn-buscar-cnpj">acoes</button>
    <br><br>

    <button class="btn-add"> + </button>
    <span class="sim"> SIM </span>
    <span class="nao">NÃO</span>
    <br><br>

    <div class="container-loader" id="loader">
        <div class="content-loader"> 
          <div class="loader"></div>
     </div>
    </div> 


</body>

</html>